@import '_vars';
@import 'modules/_nav.scss';
@import 'modules/_footer.scss';
@import 'modules/_hero.scss';
@import 'modules/_about.scss';
@import 'modules/_help.scss';
@import 'modules/_action.scss';
@import 'modules/_video.scss';
@import 'modules/_partners.scss';
@import 'modules/_admin.scss';
@import 'modules/_widget.scss';
@import 'modules/_queries.scss';

body {
    font-family: acumin-pro;
}

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.noscroll {
    height: 100%;
    overflow: hidden;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 6vw;
    border-bottom: #57bab5 solid 2vw;
    width: 55%;
    margin: 0 auto 10% auto;
    line-height: 60%;
}

.powered-by a {
    display: none;
}