#aboutSection {
    margin-bottom: 40%;
    margin-top: -10%;
    overflow-x: hidden;
    #aboutText {
        width: 50%;
        margin-left: 4%;
        h3 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 5.8vw;
            margin-bottom: 10%;
        }
        p {
            font-size: 3vw;
            line-height: 4.8vw;
            margin-bottom: 3%;
        }
    }
    #aboutImg {
        width: 55vw;
        height: 55vw;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 55%;
        margin-top: -55%;
        margin-bottom: 50%;
        img {
            position: relative;
            width: 250%;
            top: -30%;
            left: -120%;
        }
    }
}

#aboutSection {
    h2 {
        text-align: center;
    }
    margin-bottom: 8%;
}