#aboutSection {
    margin-top: 20%;
    margin-bottom: 40%;
    overflow-x: hidden;
    #aboutText {
        margin-left: 4%;
        p {
            font-size: 4.1vw;
            margin-bottom: 3%;
            line-height: 5vw;
            width: 67%;
        }
        p:nth-child(3) {
            margin-bottom: 8%;
        }
        a {
            background-color: #ffe274;
            padding: 2.6% 7% 2.6% 7%;
            text-decoration: none;
            color: black;
            font-size: 4vw;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 8px;
        }
    }
    #aboutImg {
        width: 44vw;
        height: 44vw;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 68%;
        margin-top: -76%;
        margin-bottom: 50%;
        img {
            position: relative;
            width: 200%;
            top: -30%;
            left: -100%;
        }
    }
}

#aboutSection {
    h2 {
        text-align: center;
    }
    margin-bottom: 8%;
}
#aboutSection div #aboutText p:nth-child(2) {
    margin-bottom: 10%;
}

#greenCircle {
    position: absolute;
    background-color: #57bab5;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    margin-top: -18%;
    right: 25%;
    display: none;
}