#actionSection {
    h3 {
        width: 49%;
    }
    div {
        h4 {
            text-align: center;
            text-transform: uppercase;
            color: #57bab5;
            font-weight: bold;
            font-size: 5vw;
            margin-top: 6%;
        }
        img {
            width: 25%;
            margin: 5% auto;
            display: flex;
        }
        p {
            width: 61%;
            margin: 2% auto 11% auto;
            font-size: 3.9vw;
            text-align: left;
        }
        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 5%;
            a {
                width: 39%;
                margin: 0 auto;
                padding: 3.5% 2% 3.5% 2%;
                background-color: #c43e40;
                border-radius: 2vw;
                margin-bottom: 5%;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 4vw;
                border: solid 3px white;
                transition: color, background-color 0.3s ease-in-out;

                &:hover {
                    background-color: white;
                    color: #c43e40;
                    border: solid 3px #c43e40;
                }
            }
        }
    }
}