.answersAdmin {
    padding-bottom: 5%;
    width: 95%;
    margin: 10% auto;
    h1 {
        text-align: center;
        font-size: 6vw;
        font-weight: bold;
        border-bottom: 2px solid black;
        margin-bottom: 10%;
    }

    .infoAdmin {
        margin-top: 5%;
        h2 {
            font-size: 4vw;
            font-weight: bold;
            margin-bottom: 5%;
        }

        p {
            font-size: 3.5vw;
            margin-top: 2%;
            line-height: 4vw;
        }

        a {
            background-color: #942727;
            color: white;
            justify-content: center;
            font-weight: bold;
            text-decoration: none;
            font-size: 3.5vw;
            padding: 2%;
            display: flex;
            margin-top: 8%;
            margin-bottom: 8%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;

        label {
            text-align: center;
            margin-top: 5%;
            font-size: 4vw;
        }

        input, textarea {
            margin-top: 2%;
        }

        textarea {
            padding-left: 1.5%;
            padding-top: 1.5%;
            padding-bottom: 18%;
        }

        button {
            width: 50%;
            padding: 2% 0 2.3%;
            margin: 4% auto;
            color: white;
            background-color: #191919;
            border: solid 2px white;
            font-size: 3.3vw;

            &:hover {
                background-color: white;
                color: #191919;
                border: solid 2px #191919;
            }
        }
    }
}

.partnersAdmin {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    h1 {
        text-align: center;
        font-size: 6vw;
        font-weight: bold;
        border-bottom: 2px solid black;
        margin-bottom: 10%;
        width: 95%;
        text-align: center;
        margin: 0 auto 10%;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        img {
            margin: 0 auto;
            width: 40%;
        }

        h2 {
            font-size: 4vw;
            font-weight: bold;
            margin-bottom: 2%;
            margin-top: 2%;
        }

        a {
            background-color: #942727;
            color: white;
            justify-content: center;
            font-weight: bold;
            text-decoration: none;
            padding: 2%;
            font-size: 3.5vw;
            display: flex;
            margin-top: 8%;
            width: 60%;
            margin: 2% auto 8%;
        }
    }
}

.adminheading {
    display: flex;
    width: 90%;
    margin: 3% auto;
    justify-content: space-between;
    h2, a{
        font-size: 4vw;
    }

    a {
        text-decoration: none;
        color: #942727;
    }
}
.login {

    width: 65%;
    margin: 15% auto 0;

    .loginForm {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5%;
            font-size: 5vw;
        }

        input {
            font-size: 5vw;
            margin-bottom: 5%;

            &::placeholder {
                font-size: 5vw;
            }
        }

        button {
            background-color: #192981;
            width: 55%;
            margin: 5% auto 0;
            font-size: 5vw;
            color: white;
            padding: 2% 0 2.2%;
            border: solid 3px white;

            &:hover {
                border: solid 3px #192981;
                color: #191919;
                background-color: white;
            }
        }
    }
}

.partnerForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;

    label {
        text-align: center;
        margin-top: 5%;
        font-size: 4vw;
    }

    input, textarea {
        margin-top: 2%;
    }

    textarea {
        padding-left: 1.5%;
        padding-top: 1.5%;
        padding-bottom: 18%;
    }

    button {
        width: 50%;
        padding: 2% 0 2.3%;
        margin: 4% auto;
        color: white;
        background-color: #191919;
        border: solid 2px white;
        font-size: 3.3vw;

        &:hover {
            background-color: white;
            color: #191919;
            border: solid 2px #191919;
        }
    }
}
