.footerSocial {
    display: flex;
    width: 55%;
    justify-content: space-evenly;
    margin: 5% auto;
    padding-top: 4%;
    a {
        width: 100%;

        object {
        width: 60%;
    }

    }
    a:nth-child(3) {
        width: 50%;
    }
}

.mainFooter {
    background-color: #c43e40;
    position: absolute;
    width: 100%;
    padding-bottom: 5%;
    color: white;
    font-family: arial;
    font-size: 3vw;
    text-align: center;
}