#hero {
    div {
        #hero {
            height: 75vw;

            h1 {
                color: black;
                text-align: center;
                font-size: 8vw;
                padding-top: 34%;
            }
        }
    }
}

#heroImg {
    overflow-x: hidden;
}

#heroImg img {
    width: 200%;
    margin-left: -40%;
    height: 105vw;
}

#hero object {
    position: absolute;
    width: 11%;
    top: 3%;
    left: 3%;
}

#heroCon {
    h2 {
        text-transform: uppercase;
        font-size: 18vw;
        width: 40%;
        color: #ffe274;
        margin-top: -45%;
        margin-bottom: 28%;
        margin-left: 4%;
        font-weight: 880;
    }
}