
// It actually starts here

$menu-bg: rgba(255,255,255,0.97);
$menu-color: #202020;
$menu-font-size: 9vw;
$menu-zindex: 1100;
$hamburger-color: rgb(226, 226, 226);
$hamburger-width: 50px;
$hamburger-height: 50px;
$hamburger-zindex: $menu-zindex + 10;


#menu {
  background: $menu-bg;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: $menu-zindex;

  &.open {
    opacity: 1;
    visibility: visible;

    @for $i from 1 through 10 {
      li:nth-child(#{$i}) {
        animation-delay: $i*0.1s;
      }
    }

    li {
      animation-duration: 1.0s;
      animation-fill-mode: both;
      animation-name: fadeInUp;
    }
  }

  ul {
    &:hover {
      a {
        opacity: 0.5;
      }
    }

    a {
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }

  .main-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: $menu-color;
      display: block;
      font-size: 9vw;
      font-weight: bold;
      padding: 1rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.toggle-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 5%;
  outline: none;
  position: fixed;
  right: 12%;
  z-index: $hamburger-zindex;

  span {
    box-shadow: 2px 2px 3px #555555;
    background-color: $hamburger-color;
    content: "";
    display: block;
    height: 1vw;
    position: absolute;
    transition: background-color 0.1s ease-in-out, top 0.1s 0.1s ease-out,  transform 0.1s linear;
    width: 8vw;

    &:before, &:after {
      box-shadow: 2px 2px 3px #555555;
      background-color: $hamburger-color;
      content: "";
      display: block;
      height: 1vw;
      position: absolute;
      transition: background-color 0.1s ease-in-out, top 0.1s 0.1s ease-out,  transform 0.1s linear;
      width: 8vw;
    }

    &:before {
      top: 2.2vw;
    }

    &:after {
      top: -2.2vw;
    }
  }

  &.active {
    span {
      background-color: transparent !important;
      transition: background 0.1s ease-out !important;
      box-shadow: none;

      &:before, &:after {
        transition: top 0.1s ease-out, transform 0.1s 0.1s ease-out !important;
      }

      &:before {
        background-color: #c43e40 !important;
        top: 0 !important;
        transform: rotate3d(0, 0, 1, -45deg) !important;
      }

      &:after {
        background-color: #c43e40 !important;
        top: 0 !important;
        transform: rotate3d(0, 0, 1, 45deg) !important;
      }
    }
  }


}


.navSocials {
  display: flex;
  flex-direction: row;
  width: 68%;
  justify-content: space-evenly;
  margin: 8% auto 0;
  a {
    width: 200%;
    svg {
      width: 220%;
    }
  }
  a:nth-child(5) {
    width: 105%;
  }
}