  
#partnerCon ul {
  /* line them up horizontally */
  display: flex;
  width: 95%;
  margin: 0 auto 9% auto;

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
}
#partnerCon ul > li {
  /* make sure the width is honored */
  flex-shrink: 0;
  width: 45%;
}

#partnerCon ul li {
  a {
    img {
      width: 65%;
    }
  }
}

#partners {
  margin-top: 13%;

  h2 {
    text-align: center;
    margin-bottom: 6%;
  }
}