@media screen and (min-width: 350px) {

    .navSocials {
        margin-top: 6%;
        a {
            width: 170%;
            svg {
                width: 170%;
            }
        }

        a:nth-child(5) {
            width: 87%;
        }
    }
    .infoObject {
        div {
            div {
                .helpBtn {
                    width: 150px;
                }
            }
        }
    }
}

@media screen and (min-width: 414px) {
    .navSocials {
        a {
            width: 150%;
            svg {
                width: 150%;
            }
        }
        a:nth-child(5) {
            width: 73%;
        }
    }
}

@media screen and  (min-width: 480px) {
    .navSocials {
        a {
            width: 100%;
            svg {
                width: 100%;
            }
        }

        a:nth-child(5) {
            width: 55%;
        }
    }
}

@media screen and (min-width: 680px) {

    .toggle-menu {
        right: 10%;
        span {
            height: 1vw;
            width: 7vw;
            &:before, &:after {
                height: 1vw;
                width: 7vw;
            }
            &:before {
                top: 2vw;
            }
            &:after {
                top: -2vw;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .reveal {
        height: 60vw !important;
    }
    .infoObject {
        div {
            div {
                height: 13.5vw;
                h2 {
                    font-size: 3vw;
                }
                .helpBtn {
                    font-size: 4vw;
                    padding: 3.5% 4%;
                    width: 35%;
                }
                p {
                    font-size: 2.6vw;
                    line-height: 3.2vw;
                }
                p:nth-child(8) {
                    margin-bottom: 2%;
                }
            }
        }
    }

    .contact {
        width: 73%;

        h3 {
            width: 54%;
        }

        h4 {
            font-size: 3.5vw;
        }

        h5 {
            font-size: 2.5vw;
        }

        img {
            width: 6%;
            margin: 8% 24% 6%;
        }
    }

    .contactLink {
        a {
            padding: 2% 3%;
            font-size: 2.5vw;
        }
    }

    #aboutSection {
        #aboutText {
            p {
                font-size: 2.3vw;
                width: 52%;
                line-height: 3.5vw;
            }
            a {
                border-radius: 1.5vw;
                font-size: 2.2vw;
                padding: 1.6% 4%;
            }
        }
        #aboutImg {
            width: 55vw;
            height: 55vw;
            margin-left: 58%;
            margin-top: -54%;
        }

        margin-bottom: -25%;
    }

    #actionSection {

        .actionCon {
            margin-top: 19%;
        }
        div {
            img {
                width: 131%;
                margin-top: -157%;
                margin-left: -10%;
            }
            div {
                width: 30%;
                margin: 0 auto;
                a {
                    font-size: 2vw;
                    width: 68%;
                    padding: 4.5% 0 6.5% ;
                    margin-top: 17%;
                    border-radius: 1vw;
                }
            }
            h4 {
                font-size: 2.6vw;
                margin-bottom: -11%;
            }
            p {
                font-size: 2vw;
                margin-top: 10%;
                padding-top: 11%;
                margin-bottom: auto;
                width: 76%;
            }
        }
    }

    .actionCon {
        display: flex;
        justify-content: space-evenly;
    }

    #actionSection div:nth-child(1) {
        border-right: solid black 3px;
    }

    #actionSection div:nth-child(3) {
        border-left: solid black 3px;
    }

    .navSocials {
        width: 60%;
        svg {
            width: 9%;
        }

        svg:nth-child(6) {
            width: 5%;
        }
    }

    .regPopup {
        .signForm {
            span {
                font-size: 5vw;
            }

            h1 {
                width: 89%;
                font-size: 5vw;
            }

            form {
                div {
                    label {
                        text-align: left;
                        font-size: 3vw;
                    }

                    input {
                        border-radius: 0.4vw;
                        font-size: 2.2vw;
                    }
                }

                button {
                    width: 29%;
                    border-radius: 0.4vw;
                    font-size: 2.5vw;
                }
            }
        }
    }

    #promoContainer div {
        width: 75%;
        margin: -12% auto 5%;
    }

    .answersAdmin {
        margin: 5% auto;

        .infoAdmin {
            margin: 0 auto;
            h2 {
                font-size: 3.5vw;
            }

            p {
                font-size: 2.5vw;
                line-height: 3vw;
            }

            a {
                width: 15%;
                margin: 5% 0 10%;
                padding: 1.5% 2% 2%;
                font-size: 2.5vw;
            }
        }

        form {
            label {
                font-size: 2.8vw;
                margin-top: 2%;
            }

            input, textarea {
                width: 55%;
                margin: 2% auto;
                font-size: 1.3vw;
            }

            textarea {
                padding-bottom: 10%;
            }

            button {
                width: 30%;
                font-size: 2.5vw;
                padding-bottom: 1.9%;
            }
        }
    }

    .partnerForm {
        label {
            font-size: 2.8vw;
            margin-top: 2%;
        }

        input, textarea {
            width: 55%;
            margin: 2% auto;
            font-size: 1.3vw;
        }

        textarea {
            padding-bottom: 10%;
        }

        button {
            width: 30%;
            font-size: 2.5vw;
            padding-bottom: 1.9%;
        }
    }

    .partnersAdmin {
        justify-content: space-evenly;
        .info {
            width: 45%;
            margin-top: 0;

            img {
                width: 50%;
            }

            h2 {
                font-size: 2.4vw;
            }

            a {
                width: 35%;
                margin: 5% auto 10%;
                padding: 1.8% 2% 2.2%;
                font-size: 2.5vw;
            }
        }
    }

    .login {
        width: 68%;
        .loginForm {
            label {
                font-size: 4vw;
                margin-bottom: 2%;
            }

            input {
                font-size: 4vw;
                padding: 2% 0 2.2% 2%;
                margin-bottom: 4%;
            }

            button {
                width: 40%;
                font-size: 3.5vw;
            }
        } 
    }

    #partnerCon ul > li {
        width: 33%;
    }

    #partnerCon ul li {
        a {
            img {
                width: 60%;
            }
        }
    }

    .mainFooter {
        padding-bottom: 3%;

        .footerSocial {
            width: 33%;
            margin: 3% auto;
            padding-top: 3%;
        }

        h4 {
            font-size: 2vw;
        }
    }

    #videoSection {
        h3 {
            font-size: 2.5vw;
            span {
                border-bottom-width: 0.6vw;
            }
        }
    }
}



@media screen and (min-width: 835px) {
    #heroImg img{
        width: 100%;
        margin-left: 0;
        height: 100%;
    }
    #hero object {
        width: 8%;
    }

    #heroCon {
        h2 {
            font-size: 11vw;
            margin-top: -39%;
            margin-left: 0;
        }

        span {
            background-position: 0 10px;
            height: 12.9vw;
        }

        #no {
            width: 55%;
            padding-top: 0.5%;
            padding-bottom: 1%;
        }

        #shame {
            margin-top: -3%;
            padding-top: 1.5%;
            width: 95%;
        }
    }
}

@media screen and (min-width: 1100px) {
    #menu {
        .main-nav {
            a {
                font-size:4vw !important;
            }
        }

    }

    .toggle-menu {
        span {
            height: 0.5vw;
            width: 4.5vw;

            &:before, &:after {
                height: 0.5vw;
                width: 4.5vw;
            }

            &:before {
                top: 1.2vw;
            }

            &:after {
                top: -1.2vw;
            }
        }
    }
}

@media screen and (max-height: 400px) {

    #menu {
        .main-nav {
            a {
                font-size:4vw !important;
            }
        }

    }

}

@media screen and (min-width: 1024px) {

    #pixlee_container {
        height: 43vw !important;
    }

    #promoContainer {
        margin-top: 13%;
        h3 {
            width: 32%;
        }
    }

    #instaSection{
        h3 {
            width: 41%;
        }
    }

    .toggle-menu {
        top: 7%;
        span {
            height: 0.5vw;
            width: 4vw;
            &:before, &:after {
                height: 0.5vw;
                width: 4vw;
            }
            &:before {
                top: 1.2vw;
            }
            &:after {
                top: -1.2vw;
            }
        }

        .navFill {
            right: 11%;
        }
    }

    #menu {
        .main-nav {
            a {
                font-size: 6vw;
            }
        }
    }
    h3 {
        font-size: 3.8vw !important;
        border-bottom: #57bab5 solid 1.5vw !important;
    }

    .infoObject {
        div {
            div {
                height: 9.5vw;
                h2 {
                    font-size: 2.5vw;
                    padding: 3.1% 0 5% 3%;
                }
                img {
                    margin-top: 3.8%;
                    width: 3.6%;
                }
                p {
                    font-size: 2.4vw;
                    line-height: 3.4vw;
                }
                .helpBtn {
                    font-size: 2.4vw;
                    padding: 2% 3.2%;
                    width: 20%;
                }
            }
        }
    }

    .reveal {
        height: 59vw !important;
    }

    #help {
        h3 {
            width: 36%;
        }
    }

    .contact {
        width: 70%;
        h3 {
            padding-top: 27%;
            width: 40%;
        }
        img {
            width: 7%;
            margin-left: 21%;
        } h4 {
            font-size: 3.5vw;
        }
        h5 {
            font-size: 2.5vw;
        }
    }

    .contactLink {
        margin-top: 23%;
        a {
            padding: 2% 3%;
            font-size: 2vw;
        }
    }

    #partners h3 {
        width: 33%;
    }
    #aboutSection {
        h3 {
            width: 38%;
        }
        #aboutText {
            p {
                font-size: 2vw;
                width: 48%;
                line-height: 3vw;
            }
            a {
                padding: 1.3% 6% 1.3% 5%;
                font-size: 2vw;
                border-radius: 0.5vw;
            }
        }
        #aboutImg {
            height: 46vw;
            width: 46vw;
            margin-top: -50%;
            margin-left: 54%;

            img {
                width: 184%;
                top: -20%;
                left: -77%;
            }
        }
    }
    #actionSection {
        margin-top: -35%;
        h3 {
            width: 32%;
        }
        div {
            img {
                width: 120%;
                margin-left: -5%;
            }
            h4 {
                font-size: 2.8vw;
            }
            p {
                font-size: 1.7vw;
            }
            div {
                a {
                    font-size: 1.6vw;
                    width: 53%;
                    padding: 4.5% 3%;
                    border-radius: 1vw;
                }
            }
        }
    }

    #videoSection {
        h3 {
            border-bottom: none !important;
            font-size: 2.2vw !important;
            span {
                border-bottom-width: 0.5vw;
            }
        }
    }

    .mainFooter {
        h4 {
            font-size: 2vw;
        }
    }

    .footerSocial {
        width: 33%;

    }

    .navSocials {
        margin-top: 3%;
        width: 35%;
        svg {
            width: 9%;
        }

        svg:nth-child(6) {
            width: 5%;
        }
    }

    .regPopup {
        .signForm {
        padding: 3% 0;
        width: 85%;
        top: 10%;
        transform: translateY(-10%);
            span {
                font-size: 3vw;
            }

            h1 {
                width: 89%;
                font-size: 3vw;
            }

            form {
                div {
                    width: 64%;
                    margin-top: 1%;
                    label {
                        font-size: 2vw;
                        margin-top: 3%;
                    }

                    input {
                        font-size: 1.9vw;
                        padding: 1% 0 1.2% 1%;

                        &::placeholder {
                            font-size: 1.9vw;
                        }
                    }
                }

                button {
                    padding: 1% 0 1.2%;
                    width: 23%;
                    font-size: 2.2vw;
                    margin: 4% auto 1%;
                }
            }
        }
    }

    .answersAdmin {
        .infoAdmin {
            h2 {
                font-size: 3vw;
            }

            p {
                font-size: 2vw;
                width: 80%;
            }
        }

        form {
            label {
                font-size: 2vw;
            }

            input, textarea {
                margin: 1% auto;
            }
        }
    }

    .partnerForm {
        label {
            font-size: 2vw;
        }

        input, textarea {
            margin: 1% auto;
        }
    }
}

@media screen and (min-width: 1192px) {
    #hero {
        object {
            max-width: 100px;
        }
    }

    .answersAdmin {
        width: 80%;
        h1 {
            font-size: 4vw;
            margin-bottom: 4%;
        }
        .infoAdmin {
            a {
                font-size: 1.5vw;
                padding: 1% 2% 1.3%;
                width: 11%;
                margin: 3% 0 4%;
            }

            p {
                font-size: 1.5vw;
                width: 80%;
                line-height: 2vw;
            }

            h2 {
                font-size: 2vw;
                margin-bottom: 2%;
            }
        }

        form {
            input {
                margin: 1% auto;
                font-size: 1vw;
                width: 56%;
            }
            label {
                font-size: 1.5vw;
                margin-top: 2%;
            }

            button {
                width: 21%;
                font-size: 1.2vw;
                padding-bottom: 1.4%;
                padding-top: 1.4%;
                margin: 2% auto;

            }
        }
    }

    .partnerForm {
        input {
            margin: 1% auto;
            font-size: 1vw;
            width: 56%;
        }
        label {
            font-size: 1.5vw;
            margin-top: 2%;
        }

        button {
            width: 21%;
            font-size: 1.2vw;
            padding-bottom: 1.4%;
            padding-top: 1.4%;
            margin: 2% auto;

        }
    }

    .partnersAdmin {
        h1 {
            font-size: 4vw;
            margin-bottom: 4%;
        }
        .info {
            width: 28%;
            
            h2 {
                font-size: 1.3vw;
            }

            img {
                width: 55%;
            }

            a {
                font-size: 1.3vw;
                padding: 2% 2% 2.5%;
                width: 25%;
                margin: 3% auto 4%;
            }
        }
    }

    .adminheading {
        h2, a {
            font-size: 2vw;
        }
    }
}

@media screen and (min-width: 1200px) {
    #actionSection {
        div {
            p {
                font-size: 1.85vw;
            }
            div {
                a {
                    font-size: 1.6vw;
                    width: 48%;
                    border-radius: 0.5vw;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {

    .navSocials {
        width: 27%;
    }

    .mainFooter {

        .footerSocial {
            width: 24%;
            padding-top: 0;
            margin-top: 2%;
            margin-bottom: 1%;
        }
    
         h4 {
            font-size: 1.2vw;
        }
    }

    #promoContainer {
        div {
            width: 60%;
        }
    }

    #instaSection{
        h3 {
            width: 31%;
        }
    }

    #promoContainer {
        h3 {
            width: 25%;
        }
    }


    h3 {
        font-size: 3vw !important;
    }

    .reveal {
        height: 29vw !important;
    }

    .infoObject {
        div {
            div {
                height: 4.5vw;
                h2 {
                    font-size: 1.7vw;
                    padding-top: 1.2%;
                    padding-bottom: 3%;
                    padding-left: 7%;
                }
                p {
                    font-size: 1.5vw;
                    line-height: 2vw;
                    width: 59%;
                    margin: 1% 7%;
                }
                img {
                    margin-top: 1.8%;
                    width: 2%;
                    right: 7%;
                }
            }
        }
    }

    #help {
        h3 {
            width: 29%;
        }
    }

    .contact {
        width: 54%;
        padding-bottom: 10%;
        h3 {
            width: 38%;
            padding-top: 31%;
        }
        h4 {
            font-size: 2.8vw;
            margin-top: -17%;
        }
        h5 {
            font-size: 1.5vw;
            margin-top: 1%;
        }
        img {
            width: 5%;
            margin-left: 28%;
            margin-bottom: 8%;
        }
    }
    .contactLink {
        a {
            padding: 1.5% 2%;
            font-size: 1.5vw;
            border-radius: 1vw;
        }
    }

    #greenCircle {
        margin-top: -12%;
        width: 13vw;
        height: 13vw;
        right: 30%;
    }

    #aboutSection {
        width: 80%;
        margin: 20% auto -25%;
        #aboutImg {
            margin-top: -38%;
            margin-left: 62%;
            height: 30vw;
            width: 30vw;
            img {
                left: -57%;
                width: 160%;
                top: -15%;
            }
        }

        h3 {
            width: 34%;
        }

        div #aboutText p:nth-child(2) {
                margin-bottom: 4%;
        }

        #aboutText {
            a {
                font-size: 1.1vw;
                padding: 1% 4% 1% 3%;
            }

            p {
                font-size: 1.4vw;
                line-height: 2vw;
                width: 42%;
            }

        }
    }

    #greenCircle {
        display: block;
    }

    #actionSection {
        margin-top: 0;
        h3 {
            width: 24%;
        }

        .actionCon {
            margin-top: 14%;
        }

        div {
            img {
                width: 78%;
                margin-left: 11%;
                margin-top: -90%;
            }
            h4 {
                font-size: 2.2vw;
            }
            p {
                font-size: 1.4vw;
                text-align: center;
            }
            div {
                a {
                    font-size: 1.2vw;
                    width: 35%;
                    padding: 3.1% 2.5%;
                }
            }
        }
    }

    #instaSection {
        margin-bottom: 0;
        h3 {
            margin-bottom: 3%;
        }
    }

    #partners {
        margin-top: 6%;
        h3 {
            width: 26%;
            margin-bottom: 5%;
        }
    }

    #partnerCon ul > li {
        width: 18%;
    }

    #partnerCon ul li a img {
        width: 80%;
    }

}

@media screen and (min-width: 1300px) {
    #pixlee_container {
        height: 28vw !important;
    }
}

@media screen and (min-width: 1366px) {

    .contact {
        width: 50%;
        padding-bottom: 8%;
        margin-top: -10%;
        h3 {
            width: 41%;
            padding-top: 27%;
        }
    }

    .reveal {
        height: 30vw !important;
    }

    .infoObject {
        div {
            div {
                .helpTitle {
                    padding-bottom: 1%;
                }

                img {
                    width: 2.6%;
                }
            }
        }
    }

    .regPopup {
        .signForm {
            width: 75%;
            span {
                font-size: 2.4vw;
            }

            h1 {
                width: 62%;
                font-size: 2.5vw;
                margin-bottom: 3%;
            }

            form {
                div {
                    width: 55%;
                    label {
                        font-size: 1.8vw;
                    }
                    input {
                        font-size: 1.4vw;
                        &::placeholder {
                            font-size: 1.4vw;
                        }
                    }

                    button {
                        width: 20%;
                        font-size: 1.6vw;
                    }
                }
            }
        }
    }


    .login {
        margin-top: 5%;

        .loginForm {
            label {
                font-size: 3vw;
            }

            input {
                font-size: 2.5vw;
                padding: 1% 0 1.1% 0.5%;

                &::placeholder {
                    font-size: 2.5vw;
                }
            }

            button {
                width: 20%;
                font-size: 2.2vw;
                padding: 1% 0 1.1%;
            }
        }
    }
}

@media screen and (min-width: 1500px) {
    #pixlee_container {
        height: 20vw !important;
    }
}

@media screen and (min-width: 1680px) {
    .contact {
        width: 45%;
        padding-bottom: 8%;
        margin-top: -9%;

        h3 {
            width: 46%;
            padding-top: 28%;
        }

        h4 {
            font-size: 2.2vw;
        }

        h5 {
            font-size: 1.2vw;
        }

        img {
            margin-left: 30%;
        }
    }

    .contactLink {
        a {
            font-size: 1.1vw;
            padding: 1.5%;
        }
    }

    .reveal {
        height: 24vw !important;
    }

    .infoObject {
        div {
            div {
                h2 {
                    font-size: 1.4vw;
                    padding-bottom: 4%;
                }

                img {
                    width: 1.6%;
                    margin-top: 2%;
                }

                p {
                    font-size: 1.2vw;
                    width: 57%;
                    line-height: 1.6vw;
                }
            }
        }
    }

    #aboutSection {
        margin-top: 16%;
        #aboutText {
            margin-left: 16%;
            p {
                font-size: 1.2vw;
                width: 37%;
                line-height: 1.5vw;
            }
            a{
                font-size: 1vw;
                padding: 1% 4% 1.1% 3%;
            }
        }
        #aboutImg {
            height: 27vw;
            width: 27vw;
            margin-top: -31%;
            margin-left: 64%;
            img {
                width: 134%;
                top: 0;
                left: -29%;
            }
    }
}
#greenCircle {
    margin-top: -7%;
    right: 30%;
    width: 10vw;
    height: 10vw;
}

#actionSection {
    margin-top: -31%;

    div {
        p {
            font-size: 1.1vw;
        }

        div {
            a {
                padding: 3.1% 0.5%;
                font-size: 1vw;
            }
        }
    }
}

#instaSection {
    margin-top: 11%;
}

.toggle-menu {
    span {
        height: 0.4vw;
        width: 3vw;
        &:before, &:after {
            height: 0.4vw;
            width: 3vw;
        }
        &:before {
            top: 0.8vw;
        }
        &:after {
            top: -0.8vw;
        }
    }
}

.navSocials {
    width: 20%;
    svg {
        width: 1%;
    }

    svg:nth-child(6) {
        width: 5%;
    }
}

.regPopup {
    .signForm {
        width: 66%;
        h1 {
            width: 58%;
            font-size: 1.6vw;
        }
        form {
            div {
                width: 48%;
                label {
                    font-size: 1.3vw;
                    margin-top: 1%;
                }

                input {
                    font-size: 1.2vw;

                    &::placeholder {
                        font-size: 1.2vw;
                    }
                }
            }

            button {
                width: 18%;
                font-size: 1.5vw;
                margin: 3% auto 1%;
            }
        }
    }
}

.answersAdmin {
    .infoAdmin {
        p {
            font-size: 1.2vw;
            line-height: 1.5vw;
        }

        a {
            font-size: 1vw;
            width: 7%;
        }
    }

    form {
        input, textarea {
            font-size: 1vw;
        }
    }
}

.partnerForm {
    input, textarea {
        font-size: 1vw;
    }
}

.mainFooter {
    padding-bottom: 1%;

    .footerSocial {
        width: 18%;
        padding-top: 0;
        margin-top: 2%;
        margin-bottom: 1%;
    }

     h4 {
        font-size: 1vw;
    }
}
}