#hero {
    background-color: #333;
    div {
        #placeholderHero {
            height: 75vw;
            background-color: lightgray;

            h1 {
                color: black;
                text-align: center;
                font-size: 8vw;
                padding-top: 34%;
            }
        }
        h2 {
            margin-top: -20%;
            margin-bottom: 20%;
            text-align: center;
        }
    }
}