.headerIcons {
    display: flex;
    justify-content: space-between;
    background-color: #363636;
    height: 15.5vw;
    color: white;
    font-family: arial;
}

.headerIcons img {
    background-color: #040404;
    width: 20%;
}

.headerIcons h2 {
    margin-top: 4%;
}
